# Node modules
node_modules/

# Build output
dist/
build/

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment files
.env
.env.*.local

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac system files
.DS_Store

# TypeScript
*.tsbuildinfo

# Output of tsc or Vite type generation plugin
types/
*.d.ts

*storybook.log
storybook-static

# Coverage
coverage