@import 'tailwindcss';
@import 'wasvg/dist/wasvg.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .4em;
  background-color: #a29bfe;
  transition: 1s;
  font-size: 1rem;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

textarea {
  resize: none;
}

.css-1xc3v61-indicatorContainer {
  padding: 0px !important;
}

.css-1dimb5e-singleValue {
  color: #666666 !important;
}

.css-15lsz6c-indicatorContainer {
  padding: 0px !important;
}

.css-13cymwt-control {
  min-height: 0px !important;
}

.css-t3ipsp-control {
  min-height: 0px !important;
}

.ReactModal__Overlay {
  z-index: 50 !important;
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd.css-lc42l8-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 2px 10px;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.css-1q964xs-MuiFormLabel-root-MuiInputLabel-root {
  transform: translate(10px, 5px);
  -webkit-transform: translate(10px, 5px);
}